* {
  box-sizing: border-box;
  padding: 0;
}

body {
  height: 100vh;
  background-image: url("/images/redroom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: consolas;
}

.table {
  margin-top: 100px;
  max-width: 900px;
  min-width: 550px;
  height: 70vh;
  display: grid;
  grid-template-columns: 550px  300px;
  grid-template-rows: 1fr 75px 1fr;
  border: 8px solid black;
  border-radius: 12px;
  background-color: #195019;
  opacity: .95;
}

#table-display {
  margin: 0 auto 0;
  grid-row: 2;
  grid-column: 1;
}

.player,
.dealer {
  display: flex;
  text-align: center;
}

.player {
  grid-row: 3;
  grid-column: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dealer {
  grid-row: 1;
  grid-column: 1;
  justify-content: space-evenly;
  align-items: center;
}

.stock {
  margin: 0 -2.07em 0 -2.07em;
}

.dealt {
  margin: 0 -1.5em 0 -1.5em;
}

/* .card.outline {
  border: 0.15em dashed #202d7a;
}

.card.shadow {
  box-shadow: 7px 7px 7px 0 rgba(41, 41, 41, 0.95) !important;
} */

.btn {
  margin-top: 2vh;
  padding: 0.8em;
  border-radius: 5px;
  color: white;
  background-color: #202d7a;
  font-weight: bold;
  border: 2px solid #202d7a;
  width: 75px;
}

.player-action-buttons {
  display: flex;
  gap: 0.5em;
}

#stock-pile,
.dealer-hand,
.player-hand{
  width: 200px;
}

.table-sidebar {
  grid-row: span 3;
  grid-column: 2;
  text-align: center;
  align-self: center;
  width: 97%;
  height: 98%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#scoreboard h1 {
  margin-bottom: 0;
}

#scoreboard {
  display: flex;
  flex-direction: column;
}

#scores-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.dealer-score,
.player-score {
  width: 40%;
}