* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-image: url("../images/redroom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: consolas;
  overflow: hidden;
}

#header-menu {
  margin-bottom: -30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.25em 0.5em 0.25em;
  background-color: #000000cb;
  opacity: 0.75;
  color: maroon;
  font-size: 2.5em;
  font-weight: bolder;
  text-shadow: 1px 1px 2px lime;
}

#rules {
  background-color: #000000cb;
}

.table {
  margin-bottom: auto;
  margin-top: auto;
  width: 950px;
  min-height: 675px;
  display: grid;
  grid-template-columns: 675px  270px;
  grid-template-rows: 60px 1fr  1fr;
  border: 2px ridge lime;
  border-radius: 4px;
  background-color: #470914;
  opacity: 0.98;
  outline: 12px solid #000000cb;

}

#table-display {
  margin: 0 auto 0;
  grid-row: 1;
  grid-column: span 2;
  height: 100%;
  width: 100%;
  padding-top: 0.2em;
  margin-right: auto;
  padding-left: 0.5em;
  font-size: 2.4em;
  background-color: #000000cb;
  color: maroon;
  text-shadow: 1px 1px 2px lime;
  border-bottom: 1px solid lime;
  opacity: 0.9;
}

.player {
  grid-row: 3;
  grid-column: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dealer {
  grid-row: 2;
  grid-column: 1;
  padding-top: 0px
}

.player,
.dealer {
  display: flex;
}

#stock-pile,
.dealer-hand,
.player-hand{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%
}

.player-hand {
  position: relative;
}

.player-hand > .card:hover {
  z-index: 100;
  transform: translateY(-15px);
  transition: 2s;
}

.player-hand > .card:not( :hover ) {
  transform: translateY(0);
  transition: 2s;
}

@keyframes card-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.stock {
  margin: 0 -1.88em 0 -1.88em;
  animation-name: card-fade;
  animation-duration: 0.3s;
}

.dealt {
  margin: 0 -1.25em 0 -1.25em;
  animation-name: card-fade;
  animation-duration: 0.5s;
}

@keyframes flip {
	0% {
		transform: rotateY(25deg);
	}
	60% {
		transform: rotateY(90deg);
	}
}

.flip {
  animation: flip 0.5s linear; 
}

#rules-button div {
  width: 30px;
  height: 5px;
  margin: 5px;
  background-color: maroon;
  box-shadow: 1px 1px 2px lime;
}

#rules-button:hover {
  cursor: pointer;
}

#rules-button:active  {
  transform: scale(1.1);
}

.table-sidebar {
  grid-row: span 3;
  grid-column: 2;
  align-self: center;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #000000cb;
  color: maroon;
  text-shadow: 1px 1px 2px lime;
  border-left: 1px solid lime;
  opacity: 0.9;
}

#scores-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.score-box {
width: 100%;
}

.score-heading {
  font-size: 2em;
}

.score {
  font-size: 5em;
}

.btn {
  border: none;
  padding: 0 0.5em;
  font-size: 1.1em;
  border-radius: 5px;
  color: whitesmoke;
  background-color: #470914;
  font-weight: bold;
  box-shadow: 2px 2px 4px lime;
  width: 100px;
  height: 55px;
  opacity: 1;
}

.btn:active {
  transform: translateY(2px);
  transform: translateX(2px);
  box-shadow: none;
  text-shadow: 2px 2px 6px lime;
}

.btn:hover {
  cursor: pointer;
}

.sidebar-buttons {
  grid-row: 3;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.round-action-buttons,
.player-action-buttons {
  display: flex;
  gap: 0.8em;
  margin: 0.4em;
}


